/* Keep at 100% width not more */

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* Everything on the page */
body {
  margin: 0;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: none;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

/* CURSOR GLASS CIRCLE */

.cursor-glass {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.01);
  border: 3px solid rgba(219, 214, 214, 0.1);
}

/* LANDING PAGE BG LAYERS */

.bg-frame {
  position: fixed;
  filter: saturate(0.2) brightness(0.9);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: -3;

  transition: opacity 0.5s ease;
}

#LandingBgFrameA {
  opacity: 1;
}

#LandingBgFrameB {
  opacity: 0;
}

.glass-layer {
  position: fixed;
  mix-blend-mode: darken;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: -2; /* above frames, below content */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.256);
}

.grain {
  position: fixed;
  mix-blend-mode: soft-light;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  opacity: 0.3;
  background-image: url("assets/images/grainwide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER CLICKABLES --------------------------------- */

.header-nav {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  font-size: 20px;
}

.header-nav a {
  flex: 1;   
  color: white;            /* this is the key */
  text-align: center;
  text-decoration: none;
  cursor: none;
}

.header-nav a:hover {
  opacity: 0.6;
  cursor: none;
}

/* LANDING PAGE ----------------------------------- */
/* LANDING TEXT */

#hero {
  transition: transform 2s cubic-bezier(0.65, 0, 0.35, 1);  
  
  z-index: 2;
}

#hero.move-up {
  transform: translateY(-200vh);
}

.landing-specs {
  position: fixed;
  bottom: 40px;
  left: 60px;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.4;

  color: rgba(255, 255, 255, 0.9);
}

.landing-specs-footnote {
  position: fixed;
  bottom: 40px;
  left: 60px;
  font-weight: 100;
  font-size: 10px;
  line-height: 1.4;

  color: rgba(255, 255, 255, 0.9);
}

.landing-specs-bold {
  position: fixed;
  bottom: 40px;
  left: 200px;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.side-text {
  position: fixed;

  top: 20%;
  left: 80px;

  transform: translateY(-50%);
  line-height: 0.8;
  max-width: 500px;

  z-index: 3;
}

.second-specs {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

body.move-up .second-specs {
  opacity: 1;
  transform: translateY(0);
}

body.move-up .landing-specs:not(.second-specs) {
  opacity: 0;
}

.second-specs {
  transition: opacity 0.6s ease 0.6s,
              transform 0.6s ease 0.6s;
}


.side-text p {
  margin: 0;

  font-size: clamp(28px, 3vw, 48px);
  line-height: 1;

  color: rgba(255,255,255,0.9);
}

.bold {
  font-weight: 800;
}

.accent {
  color: #0ac1f8; /* matches your site accent tone */
  font-style: italic;
  font-family: "Zodiac";
}


.side-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.side-text.show {
  opacity: 1;
  transform: translateY(0);
}



.audio-toggle {
  position: fixed;
  text-decoration: underline;
  mix-blend-mode: screen;
  left: 60px;
  bottom: 130px; /* sits above the meta text */
  transition: opacity 0.2s ease-in-out;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;

  background: none;
  border: none;
  padding: 0;

  cursor: none;
}

.audio-toggle:hover {
  opacity: 0.5;
}

.landing-title {
  width: 100%;
  font-size: clamp(48px, 8vw, 220px);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2px;
}

.landing-accent {
  position: absolute;
  right: 175px;
  top: -100px;
  font-family: "Zodiac", serif;
  font-weight: 100;
  font-size: clamp(24px, 4vw, 120px);
  color: #baadca;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.arrow {
  transition: transform 2s cubic-bezier(0.65, 0, 0.35, 1);
  position: fixed;
  bottom: 40px;
  right: 60px;
  width: 60px; /* adjust size */
  height: auto;
  opacity: 0.7;
  pointer-events: auto;
  cursor: none;
}

.arrow.flipped {
  transform: rotate(180deg) translateY(5px);
}

.project-stack {
  position: fixed;
  top: 50%;
  left: 65%;
  width: 50vw;
  height: 50vh;
 
  transform: translate(-50%, -50%) translateY(100vh);
  transition: transform 1.5s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 3;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.project-preview {
  
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
  font-size: clamp(24px, 3vw, 80px);

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border: 3px solid rgba(255,255,255,0.1);

  transition:
    transform 1s ease,
    opacity 0.6s ease,
    z-index 0.4s;

}

/* STATES */

.project-preview {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
  z-index: 1;
  pointer-events: auto ;
}

.project-preview.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 5;
}

.project-preview:hover {
  opacity: 0.8;
  transform: translateY(var(--y)) scale(1.02);
}

body.move-up .project-stack {
  transform: translate(-50%, -50%) translateY(0);
}

.project-preview:not(.active) {
  pointer-events: none;
}

.project-preview {
  transition: transform 0.5s ease, opacity 0.4s ease;
}

.project-preview:hover {
  filter: brightness(1.1);
}

/* USED CLASSES */

.line  {
  display: block;
  width: 100%;
}

.left {
  text-align: left;
  padding-left: 160px;
  transform: none;
}

.right {
  display: block;
  text-align: right;
  padding-right: 160px;
}

.right-container {
  position: relative;
  display: block;
  width: 100%;
  transform: none;
}

/* TRANSITIONS */

.fade {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 2s ease, transform 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}


/* FONTS */

@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: "Zodiac";
  src: url("assets/fonts/Zodiac-Variable.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}